body {
    font-family: "Work Sans", sans-serif;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
header {
    background-color: #e6e6e6;
    z-index: 100;
    width: 100%;
    position: fixed;
}
.logo img {
    width: 3.75em;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25em 2.1875em;
}
.navigation {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.hr {
    width: 1.875em;
    border: 0.0625em solid black;
    margin: 0.15625em 0;
}
.navigation .center {
    width: 0.9375em;
    transition: 0.7s ease;
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -ms-transition: 0.7s ease;
    -o-transition: 0.7s ease;
}
.container:hover .center {
    width: 1.875em;
}
nav ul::before {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 0%;
    width: 0;
    height: 0;
    border-width: 0.7em;
    border-style: solid;
    border-color: transparent transparent #eee transparent;
}
nav ul {
    position: absolute;
    bottom: -60%;
    right: 2.1875em;
    display: none;
    width: 12.5em;
    height: 3.125em;
}
.container:hover ul {
    display: inline-block;
}
nav ul li {
    list-style: none;
    background-color: #eee;
    border-bottom: 0.0625em solid rgb(209, 206, 206);
}
nav ul a {
    padding: 0.9375em;
    display: block;
    height: auto;
    color: rgb(80, 79, 79);
    transition: 0.7s ease;
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -ms-transition: 0.7s ease;
    -o-transition: 0.7s ease;
}
nav ul li:hover a {
    transform: translateX(0.625em);
    -webkit-transform: translateX(0.625em);
    -moz-transform: translateX(0.625em);
    -ms-transform: translateX(0.625em);
    -o-transform: translateX(0.625em);
}
a {
    text-decoration: none;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(../images/landing.jpg);
    background-size: cover;
}
.main .container {
    text-align: center;
}
.main h1 {
    color: #10cab7;
    font-size: 3em;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.main p {
    font-size: 1.3em;
    line-height: 1.8;
}
.main2 {
    background-color: rgb(243, 243, 243);
    padding: 6.25em 1em;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card {
    max-width: 20em;
    text-align: center;
    margin: 1.5625em;
    font-size: 1em;
}
i {
    color: #10cab7;
}
.main2 .card i {
    font-size: 3em;
}
h2 {
    margin: 1em 0;
    font-weight: 800;
    font-size: 1em;
}
p {
    line-height: 1.8;
    color: #777;
    font-size: 1em;
}
#services {
    background-color: initial;
    padding: 3em 0;
}
.title {
    display: flex;
    justify-content: center;
    position: relative;
}
.opacity {
    font-size: 6em;
    font-weight: 900;
    color: #ebeced;
}
.not-opacity {
    position: absolute;
    top: 4.7em;
    font-size: 1.3em;
    color: gray;
    letter-spacing: 1px;
}
.for-cards {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}
.container-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3.0125em;
}
.tow-cards {
    padding: 0 1em;
}
.tow-cards .card1 {
    display: flex;
    max-width: 22em;
    padding-bottom: 1em;
    text-align: justify;
}
.tow-cards .card1 i {
    display: flex;
    font-size: 2.5em;
    margin: 0.7em 0.6em 0 0;
}
.tow-cards h2 {
    margin-bottom: 0.9em;
}
.tow-cards-image {
    font-size: 1.5625em;
    margin-left: 3em;
}
.image {
    position: relative;
}
.shape {
    width: 4em;
    height: 17em;
    background-color: #2c4755;
}
.image img {
    position: absolute;
    top: 13%;
    right: 50%;
    width: 9.375em;
    height: 13em;
}
#portfolio {
    padding: 3em;
}
#portfolio .card {
    min-width: 22em;
    background-color: rgb(233, 233, 233);
    margin: 4em 1em 1em;
    text-align: justify;
}
#portfolio .card img {
    width: 100%;
}
#portfolio h2, #portfolio p {
    margin: 1em;
}
.about {
    padding: 3em;
}
.container-about {
    display: flex;
    align-items: center;
    margin: 3em 0;
}
.container-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0 13em 0 0;
    height: 18.75em;
}
.container-image img {
    position: absolute;
    top: 1%;
    width: 12.5em;
    height: 18.75em;
}
.shape2 {
    margin-right: 9.375em;
    width: 5em;
    height: 23.3125em;
    background-color: rgb(233, 233, 233);
}
.shape3 {
    position: absolute;
    top: -10%;
    right: 0;
    width: 3.5em;
    height: 19.0625em;
    background-color: #10cab7;
}
.shape4 {
    position: absolute;
    width: 10em;
    height: 3.5em;
    bottom: 0;
    background-color: #10cab7;
}
.container-p p {
    margin: 0;
    text-align: justify;
    font-size: 1em;
}
.blue {
    color: blue;
    font-weight: 800;
}
.container-p hr {
    margin: 3em 0;
    display: inline-block;
    width: 50%;
    background-color: #10cab7;
    color: #10cab7;
    border: none;
    height: 0.25em;
}
#contact {
    padding: 3em;
}
.container-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4em;
}
.container-contact h2 {
    font-size: 1.8em;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
}
.container-contact a {
    display: inline-block;
    font-size: 1.8em;
    color: #10cab7;
    font-weight: 900;
    margin: 0.4em 0;
}
.contact-icon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20em;
}
.contact-icon p {
    color: black;
}
.contact-icon i {
    color: black;
}
footer {
    background-color: #2c4755;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p {
    color: white;
}
footer span {
    color: #10cab7;
}
@media (max-width: 200px) {
    body {
        font-size: 4px;
    }
    .main2 .card {
        max-width: 100%;
    }
    .tow-cards-image {
        display: none;
    }
    .for-cards {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .tow-cards .card1 {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .container-about {
        flex-direction: column;
    }
    .container-image img {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .container-p, .container-p p {
        text-align: center;
        margin: 1em;
    }
    .container-p hr {
        margin: 1em;
    }
    .shape2 {
        display: none;
    }
    .shape3 {
        display: none;
    }
    .shape4 {
        display: none;
    }
    .blue {
        color: black;
        font-weight: 800;
    }
    .container-contact h2 {
        font-size: 1.5em;
        letter-spacing: inherit;
    }
}
@media (min-width: 201px) and (max-width: 300px) {
    body {
        font-size: 6px;
    }
    .main2 .card {
        max-width: 100%;
    }
    .tow-cards-image {
        display: none;
    }
    .for-cards {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .tow-cards .card1 {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .container-about {
        flex-direction: column;
    }
    .container-image img {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .container-p, .container-p p {
        text-align: center;
        margin: 1em;
    }
    .container-p hr {
        margin: 1em;
    }
    .shape2 {
        display: none;
    }
    .shape3 {
        display: none;
    }
    .shape4 {
        display: none;
    }
    .blue {
        color: black;
        font-weight: 800;
    }
    .container-contact {
        font-size: 0.6em;
        letter-spacing: inherit;
    }
}
@media (min-width: 301px) and (max-width: 500px) {
    body {
        font-size: 10px;
    }
    .main2 .card {
        max-width: 100%;
    }
    .tow-cards-image {
        display: none;
    }
    .for-cards {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .tow-cards .card1 {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .container-about {
        flex-direction: column;
    }
    .container-image img {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .container-p, .container-p p {
        text-align: center;
        margin: 1em;
    }
    .container-p hr {
        margin: 1em;
    }
    .shape2 {
        display: none;
    }
    .shape3 {
        display: none;
    }
    .shape4 {
        display: none;
    }
    .blue {
        color: black;
        font-weight: 800;
    }
    .container-contact {
        font-size: 0.6em;
        letter-spacing: inherit;
    }
}
@media (min-width: 501px) and (max-width: 800px) {
    body {
        font-size: 16px;
    }
    .main2 .card {
        max-width: 100%;
    }
    .tow-cards-image {
        display: none;
    }
    .for-cards {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .tow-cards .card1 {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .container-about {
        flex-direction: column;
    }
    .container-image img {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .container-p, .container-p p {
        text-align: center;
        margin: 1em;
    }
    .container-p hr {
        margin: 1em;
    }
    .shape2 {
        display: none;
    }
    .shape3 {
        display: none;
    }
    .shape4 {
        display: none;
    }
    .blue {
        color: black;
        font-weight: 800;
    }
    .container-contact {
        font-size: 0.6em;
        letter-spacing: inherit;
    }
}
@media (max-width: 1030px) {
    .tow-cards-image {
        display: none;
    }
    .for-cards {
        width: 100%;
    }
}
